/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
:root {
    --blue: #0084fd;
    --white: white;
    --lightblue: #b5ddff;
    --grey: #63798c;
    --violet: #9792e4;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    background-color: black;
}

.btn {
    padding: 0.8rem 1rem;
    border-radius: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BODY */
.container {
    max-width: 480px;
    margin: 0 auto;
    background-color: var(--white);
}

/* HEADER */
header {
    width: 100%;
    background-color: var(--blue);
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.menu i {
    color: var(--white);
}

section {
    padding: 3rem 2rem;
}

p {
    line-height: 1.8rem;
}

.col {
    display: flex;
    flex-wrap: wrap;
}

.row {
    padding: 2.5rem 2rem 0;
    margin-bottom: 1rem;
}
/* MAIN */

/* Sction Overview */
.larger {
    background-color: var(--lightblue);
    border-radius: 1rem;
}

.row h2 {
    color: var(--blue);
    margin-bottom: 2rem;
    font-weight: 800px;
}

.row p {
    font-weight: 800;
    color: var(--grey);
}

.row a {
    text-decoration: none;
}

/* Row Demo */
.app-store {
    background-color: var(--blue);
    margin-top: 2rem;
    margin-right: 2rem
}

.app-store span {
    margin-left: 1rem;
    font-weight: 800;
}

.app-img {
    padding-top: 2rem;
    line-height: 0;
}

/* Row Shorter */
.shorter {
    background-color: var(--lightblue);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
}

.shorter i {
    color: var(--blue);
    font-size: 5rem;
    margin-bottom: 2rem;
}

/* Section Planning */
.violet-sec {
    background-color: var(--violet);
    color: var(--white);
}

.violet-sec h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.app-developement {
    background-color: var(--white);
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 3rem;
    text-align: center;
}

.app-developement h2,p {
    color: black;
}

.app-developement h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

.app-developement p {
    font-style: italic;
    font-weight: 500;
    margin-bottom: 2rem;
}

.arrow-down {
    background-color: var(--violet);
    border-radius: 50%;
    padding: 1rem;
    color: black;
}

/* Section Testimonials */
.testimonials {
    text-align: center;
}
.testimonials h3 {
    font-weight: 500;
    margin-bottom: 2rem;
}

.testimonials h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--violet);
}

.testimonials p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.testimonials-row {
    background-color: var(--violet);
    border-radius: 3rem;
    padding-bottom: 1rem;
}

.testimonials-row img {
    border-radius: 5rem;
    margin-bottom: 1rem;
}

.testimonials-row p, span {
    color: var(--white);
    margin-bottom: 1rem;
}

.testimonials-row p {
    font-weight: 500;
    font-style: italic;
}

.virgolette {
    font-size: 2.5rem;
}

.name {
    font-size: 1.2rem;
    font-weight: 800;
}

/* Section Benefits */
.benefits {
    border-radius: 2rem;
    background-color: white;
    padding: 0rem 2rem;
    padding-bottom: 1rem;
}

.benefits h2,h3 {
    color: var(--violet);
}

.benefits h2 {
    font-size: 3rem;
    padding-top: 2rem;
}

.benefits h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.benefits a {
    text-decoration: none;
    font-weight: 800;
}

.violet-btn {
    background-color: var(--violet);
    width: 60%;
    margin-top: 1rem;
}

/* Section About Us */

.about-us h2 {
    color: var(--violet);
    font-size: 3rem;
}

.about-us p {
    margin-top: 1rem;
}

.profile-img {
    width: 60%;
    display: flex;
    position: relative;
}
.profile-img img {
    margin-top: 2rem;
    border-radius: 50%;
    /* position: absolute; */
}

.profile-img i {
    position: absolute;
    left: 70%;
    top: 10%;
    color: var(--violet);
    font-size: 4rem;
}

.about-us h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1rem;
}

.linkedin a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.linkedin i {
    margin-right: 0.5rem;
}