/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
:root {
    --blue: #0084fd;
    --white: white;
    --lightblue: #b5ddff;
    --grey: #63798c;
    --violet: #9792e4;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    background-color: black;
}

.btn {
    padding: 0.8rem 1rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.violet-btn {
    background-color: var(--violet);
    color: var(--white);
    width: 60%;
}

.white-btn {
    background-color: var(--white);
    color: var(--violet);
}

section {
    padding: 3rem 2rem;
}

p {
    line-height: 1.8rem;
}

.col {
    display: flex;
    flex-wrap: wrap;
}

.row {
    padding: 2.5rem 2rem 0;
    margin-bottom: 1rem;
}

/* BODY */
.container {
    max-width: 480px;
    margin: 0 auto;
    background-color: var(--white);
}
/* Responsive */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* HEADER */
header {
    background-color: var(--blue);
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.menu i {
    color: var(--white);
}

/* MAIN */

/* Section Overview */
.larger {
    background-color: var(--lightblue);
    border-radius: 1rem;
}
/* Responsive */
@media screen and (min-width: 768px) {
    .larger {
        width: calc(100% / 3 * 2 - 0.8rem)
   }

   .col {
    display: flex;
    gap: 2rem;
   }
}

.row h2 {
    color: var(--blue);
    margin-bottom: 2rem;
    font-weight: 800px;
}

.row p {
    font-weight: 800;
    color: var(--grey);
}

.row a {
    text-decoration: none;
}

/* Row Demo */
.app-store {
    background-color: var(--blue);
    margin-top: 2rem;
    margin-right: 2rem;
    color: white;
    display: flex;
    align-items: center;
}

.app-img {
    padding-top: 2rem;
    line-height: 0;
}

.app-store span {
    margin-left: 0.5rem;
}

/* Responsive */
@media screen and (min-width: 768px) {
    .app-store {
        width: 55%;
    }
    .app-img img {
        max-width: 60%;
    }
}


/* Row Shorter */
.shorter {
    background-color: var(--lightblue);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
}
/* Responsive */
@media screen and (min-width: 768px) {
    .shorter {
        width: calc(100% / 3 - 1.4rem)
    }
}

.shorter i {
    color: var(--blue);
    font-size: 5rem;
    margin-bottom: 2rem;
}

/* Section Planning */
.violet-sec {
    background-color: var(--violet);
    color: var(--white);
}

.violet-sec h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.app-developement {
    background-color: var(--white);
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 3rem;
    text-align: center;
}

.app-developement h2,p {
    color: black;
}

.app-developement h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

.app-developement p {
    font-style: italic;
    font-weight: 500;
    margin-bottom: 2rem;
}

.arrow-down {
    background-color: var(--violet);
    border-radius: 50%;
    padding: 1rem;
    color: black;
}

/* Section Testimonials */
.testimonials {
    text-align: center;
}
.testimonials h3 {
    font-weight: 500;
    margin-bottom: 2rem;
}

.testimonials h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--violet);
}

.testimonials p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.testimonials-row {
    background-color: var(--violet);
    border-radius: 3rem;
    padding-bottom: 1rem;
}

.testimonials-row img {
    border-radius: 5rem;
    margin-bottom: 1rem;
}

.testimonials-row p, span {
    color: var(--white);
    margin-bottom: 1rem;
}

.testimonials-row p {
    font-weight: 500;
    font-style: italic;
}

.virgolette {
    font-size: 2.5rem;
}

.name {
    font-size: 1.2rem;
    font-weight: 800;
}
/* Responsive */
@media screen and (min-width: 768px) {
    .testimonials-row {
        display: flex;
        gap: 1rem
    }

    .testimonial-quote {
        text-align: left;
    }
}

/* Section Benefits */
.benefits {
    border-radius: 2rem;
    background-color: white;
    padding: 0rem 2rem;
    padding-bottom: 1rem;
}

.benefits h2,h3 {
    color: var(--violet);
}

.benefits h2 {
    font-size: 3rem;
    padding-top: 2rem;
}

.benefits h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.benefits a {
    text-decoration: none;
    font-weight: 800;
}
/* Responsive */
@media screen and (min-width: 768px) {
    .all-benefits {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .benefits {
        width: calc(50% - 1rem);
    }
}
/* Section About Us */

.about-us h2 {
    color: var(--violet);
    font-size: 3rem;
}

.about-us p {
    margin-top: 1rem;
}

.profile-img {
    width: 60%;
    display: flex;
    position: relative;
}
.profile-img img {
    margin-top: 2rem;
    border-radius: 50%;
}

.profile-img i {
    position: absolute;
    left: 70%;
    top: 10%;
    color: var(--violet);
    font-size: 4rem;
}

.about-us h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1rem;
}

.linkedin {
    display: flex;
    align-items: center;
}
.linkedin a {
    text-decoration: none;
    font-size: 0.8rem;
}

.linkedin i {
    margin-right: 0.5rem;
}
/* Responsive */
@media screen and (min-width: 768px) {
    .about-us {
        display: flex;
        gap: 4rem;
    }

    .profile-img img {
        max-width: 150%;
        margin-top: 0;
        border-radius: 50%;
    }

    .profile-img i {
        position: absolute;
        left: 110%;
        top: 0;
        color: var(--violet);
        font-size: 4rem;
    }

    .about-us-p {
        width: 60%;
    }

    .about-us-img {
        width: 40%;
    }

    .linkedin a {
        width: 70%;
    }
}
/* Section Get Started */
.get-started {
    text-align: center;
}

.get-started a {
    text-decoration: none;
    font-weight: 600;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}

.get-started h3 {
    color: white;
    font-weight: 200;
}

.get-started p {
    color: var(--white);
}

.get-started .free {
    color: #fdc15f;
    font-size: 4rem;
}

.no-style {
    list-style: none;
}

.copyright {
    font-size: 0.8rem;
    margin-top: 1.5rem;
}

.copyright a {
    color: var(--white);
    font-weight: 200;
    text-decoration: underline;
}
/* Responsive */
@media screen and (min-width: 768px) {
    a.white-btn {
        width: 35%;
        padding: 2rem 0;
    }
}
/* Footer */
footer {
    background-color: #333333;
    padding: 3rem 2rem;
    text-align: center;
}

footer p {
    color: var(--white);
    line-height: 1rem;
    font-size: 0.8rem;
}

.foot-bottom {
    margin-top: 4rem;
}

.foot-bottom p {
    font-size: 0.8rem ;
}
.foot-bottom a {
    color: var(--violet);
    text-decoration: underline;
} 
