/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* SETUP */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}